.collection-preview {
  //   display: flex;
  //   align-items: flex-start;
}

.collection-preview__info {
  display: flex;
  align-items: center;
  //   flex-direction: column;
  position: relative;
}

.collection-preview__items {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  card {
    pointer-events: none;
  }

  .claim-preview--tile {
    z-index: 5;
    margin-bottom: 0;
    width: 100%;
    box-shadow: 1px 1px 5px 2px #44444420;
  }
}

//.collection-count {
//  //margin-left: var(--spacing-xxs)
//}

.collection-preview__overlay-thumbs {
  top: 0;
  bottom: 0;
  position: relative;
  .collection-preview__overlay-grid {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    .collection-preview__overlay-grid-items {
      transform: scale(0.9);
      left: 0px;
      .media__thumb {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 0px 4px white;
      }
    }
  }
}

.collection-title__hasEdits {
  color: var(--color-primary);
}

.collection-select__item {
  display: flex;
  &:first-of-type {
    margin-top: var(--spacing-xs);
  }
  margin-bottom: var(--spacing-xs);
  margin-left: var(--spacing-xxs);
}

.icon-collection-select {
  vertical-align: middle;
  margin-right: var(--spacing-xs);
}

.collection-preview__edit-buttons {
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.collection-preview__edit-group {
  &:not(:last-of-type) {
    margin-right: var(--spacing-s);
  }
  margin-right: var(--spacing-s);
  button {
    @media (max-width: $breakpoint-small) {
      padding: var(--spacing-s) var(--spacing-s);
    }
  }
}

.collection-edit__header {
  position: relative;
  background-image: var(--color-card-background);
  display: flex;
  align-items: flex-end;
  box-sizing: content-box;
  color: #fff;
}

.collection-edit__thumb {
  position: absolute;
  top: 0;
  left: var(--spacing-l);
  margin-top: calc(var(--spacing-m) * 7);
  z-index: $metadata-z-index;

  > * {
    padding: 0 var(--spacing-xs);

    &:not(:last-child) {
      margin-right: var(--spacing-m);
    }
  }

  @media (max-width: $breakpoint-small) {
    margin-top: 0;

    .button {
      margin-top: var(--spacing-l);
    }
  }
}
